body.touch a:hover {
	border-bottom:0;
}

@media (min-width: 1200px) {
	
	p {
	    max-width: none;
	}
	#wrapper {
		width:720px;
	}
	.load .top-message1,
	.load .top-message2 {
		font-size:63px;
		text-align:center;
		text-transform:uppercase;
		line-height:63px;
	}

}

@media (max-width: 767px) {

	#wrapper {
		width:470px;
	    padding: 18px;
	}
	.butt {
	    display:block;
        margin: 36px auto;
	}
	.front-buttons {
	    margin: 54px auto;
	    width: 63%;
	}
	.bear-player {
	  width:100%;
	}
}

@media (max-width: 530px) {

	body {
		padding: 10px;
	}
	body.index,
	body.soundtrack {
		padding:0;
	}
	body.index p {
		line-height:1;
	}
	#wrapper {
	    width: 100%;
	    margin: 72px 0;
	    padding: 0;
	}
	.screenplay,
	.front {
	    padding: 18px;
	}
	.butt {
	    margin: 20px auto;
        padding: 6px 18px;
	}
	.front-page {
	    text-align: center;
	    font-size: 18px;
	}
	.front-buttons {
	    margin: 45px auto;
	    width: 63%;
	}
	.front-credit a i {
	    font-size: 27px;
	    margin: 9px;
	}
	.front-page p {
	    margin-bottom: 20px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
}